{% extends "base.html" %}

{% block title %}
  <a href="{% url 'home_page' %}">Home Page</a>
{% endblock title %}
{% block content %}
  <h1>Are you sure?</h1>
  <form method="post">
    {% csrf_token %}
    <button>Delete</button>
  </form>
{% endblock content %}
