{% extends "base.html" %}

{% block title %}
  <a href="{% url 'home_page' %}">Home Page</a>
{% endblock title %}
{% block content %}
  <h1>{{ todo_object.name }}</h1>
  <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
  <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
  <h2>Tasks</h2>
  <table>
    <thead>
      <tr>
        <td>Task</td>
        <td>Due date</td>
      </tr>
    </thead>
    <tbody>
      {% for item in todo_object.items.all %}
        <tr>
          <td>
            <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
          </td>
          <td>{{ item.due_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
