{% extends "base.html" %}

{% block title %}
  <a href="{% url 'home_page' %}">Home Page</a>
{% endblock title %}
{% block content %}
  <h1>Update Item</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Update</button>
  </form>
{% endblock content %}
