{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
    <link rel="stylesheet" href="{% static 'css/todos.css' %}">
  </head>
  <body>
    <nav>
      {% block title %}
      {% endblock title %}
    </nav>
    <main>
      <div>
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </body>
</html>
